        body {
            padding: 0;
            margin: 0;
            background: #ffffff;
            color: #000000;
            font-family: system-ui;
            font-weight: 700;
            display:flex;
            flex-direction: column;
            align-items: center;
            max-width: 98vw;
            text-align: center;
        }
        h1 {
            margin: 0;
            padding-top: 15px;
            padding-bottom: 5px;
            font-size: 50px;
            font-weight: 800; 
        }
        h2 {
            margin: 0;
            font-size: 30px;
            font-weight: 700;
        }
        h3 {
            margin: 0;
            padding-bottom: 35px;
            font-size: 20px;
            font-weight: 600;
        }
        p {
            margin: 0;
            font-family: Arial;
            font-size: 30px;
            font-weight: 600;
        }
        div{
            max-width: 98vw;
        }
        .countdown {
        display: flex;
        gap: 15px;
        font-family: Arial, sans-serif;
        justify-content: center;
        background: none;
        align-items: center;
        }

        .tempo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        width: 75px;
        height: 90px;
        }

        .tempo span:first-child {
        font-size: 1.7rem;
        font-weight: bold;
        text-align: center;
        align-items: center; 
        }

        .label {
        font-size: 0.9rem;
        }

        .timer{
            border-radius: 12px;
            display: flex;
            flex-direction: column;
            width: 400px;
            height: 250px;
            align-items: center;
            justify-content: center;
            margin-bottom: 35px;
        }
        .timer h3{ 
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
            font-size: 30px;
            font-weight: 500;
            text-align: center;
        }
        .timer a{
            text-decoration: none;
            border-radius: 10px;
            width: 110px;
            height: 30px;
            margin-top: 18px;
            align-content: center;
        }

        #copa { background:#09521b; }
        #copa h3{ color:#37df61 }
        #copa a{ background-color: #37df61; color: #09521b; }
        #copa .countdown .tempo { background:#37df61; }
        #copa .countdown .tempo span:first-child, #copa .countdown .tempo span.label { color:#09521b; }

        #natal { background:#861b1b; }
        #natal h3{ color:#ff4040 }
        #natal a{ background-color: #ff4040; color: #861b1b; }
        #natal .countdown .tempo { background:#ff4040; }
        #natal .countdown .tempo span:first-child, #natal .countdown .tempo span.label { color:#861b1b; }
